<div class="row">
 <div class="col s12">
  <h2>{{message}}</h2>
  <p>{{subtitle}}</p>
 </div>
</div>
<div class="row">
	<p>
		Este es un ejemplo de cómo realizar un API REST con PHP y MySQL, está basado en el tutorial de
		@Aimtone en el blog de <a href="http://frikibloggeo.blogspot.com">Fikibloggeo</a>.
	</p>
	<ol>
		<li>
			<a href="http://frikibloggeo.blogspot.com/2017/01/crear-un-web-service-api-rest-con-php-y.html">Crear un Web Service API Rest con PHP y MySQL
			</a>
		</li>
		<li>
			<a href="http://frikibloggeo.blogspot.com/2017/01/consumir-un-web-services-api-rest-con.html">Consumir un Web Services API Rest con AngularJS
			</a>
		</li>
	</ol>
	<p>
		Otros artículos que nos podrían servir para entender mejor los ejemplos son:
	</p>
	<ol>
		<li><a href="https://www.computerhope.com/unix/uchmod.htm">Permisos de acceso a archivos en linux/unix</a></li>
		<li><a href="https://www.expresionbinaria.com/archivo-htaccess-que-es-y-como-funciona/">¿Qué es .htaccess y como funciona?</a></li>
		<li><a href="http://localhost/userws/api/usuario">Listado de usuarios</a></li>
	</ol>
</div>